
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.all-content{
  max-width: 90vw;
  margin: 0 auto;
}

/* Header CSS file */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0;
  width: 100vw;
  height: 9vh;
  padding-block: 5px;
  box-shadow: 2px 1px 4px white;
  background-color: transparent;
  backdrop-filter: blur(15px);
}

.left-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40vw;
  gap: 20px;
}

.logo{
  width: 10%;
  margin-left: 1.2rem;
}
.logo a img {
  height: 3.1rem;
  width: 3.1rem;
}

.search-bar{
  min-width: 90%;
}

.search-bar  .input{
  padding: 5px;
  background: transparent;
  font-size: 0.8rem;
  width: 100%;
  color: white;
  height: 1.7rem;
  border: 1px solid white;
  border-radius: 4px;
}

.search-bar  .input .options{
  background: transparent;
  backdrop-filter: blur(10px);
  color: black;
}

.search-bar .input:focus{
  border: 1px solid white;
}


.right-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45vw;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 60%;
}

.nav a{
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: rgb(238, 217, 217);
}

.actions {
  display: flex;
  align-items: center;
  min-width: 20%;
  gap: 1.8rem;
}


.icon {
  font-size: 1.8rem;
  color: #fff;
}

.icon:hover {
  color: #c5e9f3;
}

.cart-logo{
  display: flex;
  position: relative;
}
.cart-logo .count{
  position: absolute;
  top: -5px;
  right: 0;
  background-color: black;
  padding: 3px;
  border-radius: 50%;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
}

.nav-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color:white ;
  margin-left: 10px;
}

/* Responsive styles for mobile */
@media (max-width: 740px) {
  .header{
    height: 7vh;
  }

  .search-bar .input {
    font-size: 11px;
    height: 1.8rem;
  }

  .nav {
    display: none; /* Hide navbar by default on mobile */
    position: absolute;
    z-index: 6;
    align-items: flex-start;
    top: 2.5rem;
    min-width: 20%;
    right: 12px;
    box-shadow: 2px 2px 4px white;
    background: black;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid rgb(184, 175, 175);
    border-radius: 4px;
  }


  .nav a{
    font-size: 1rem;
    font-weight: 500;
  }

  .nav-active {
    display: flex;
   /* Show navbar when active */
  }

  .nav-toggle {
    display: block;
    align-content: center;
    font-size: medium; /* Show the toggle button on mobile */
  }
  .logo{
    margin-left: 2px;
  }

  .left-part{
    gap: 3rem;
  }

  .right-part{
    justify-content:flex-end;
    gap: 1rem;
  }

  .actions {
    display: flex;
    gap: 1rem ;
    margin-right: 1rem;
  }

  .cart-logo .count{
    font-size: 0.5rem;
  }

  .icon{
    font-size: 1.1rem;
  }
}

/* Home css file */

.home {
  padding-top: 1.2rem;
  max-width: 100%;
  margin-top: 8vh;
  margin-bottom: -1.5rem;
}

.hero-banner {
  margin-bottom: 10px;
}


.hero-banner img {
  width: 100%;
  border-radius: 8px;
  height: 60vh;
  box-shadow: 2px 3px 5px whitesmoke;
}

@media (max-width: 740px){
  .hero-banner{
    margin-bottom: 5px;
  }

  .hero-banner img{
    height: auto;
  }
}

/* Products css file */
.products {
  margin-top: 1.8rem;
  padding-block: 3.5rem;
}

.products-info h1 {
  color: white;
  margin-bottom: 20px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 100%;
  row-gap: 2.8rem;
  column-gap: 4rem;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  overflow: hidden;
  background: transparent;
  backdrop-filter: blur(10px);
  color: white;
  box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height:340px ;
  text-align: center;
}

.product-card a{
  text-decoration: none;
  color: white;
}

.product-card img {
  width: 100%;
  border-radius: 5px;
  height: 80%;
}

.product-card h3 {
  margin-top: 10px;
  color: white;
  font-size: 18px;
  margin-bottom: 8px;
}

.product-card p {
  color: white;
  font-size: 16px;
}

.product-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 16px white;
}

.net-slow{
  max-width: 90vw;
  margin: 0 auto;
  color: red;
}

@media (max-width: 1024px){
  .products-list{
    grid-template-columns: repeat(3,1fr);
  }
}

@media (max-width: 740px){
  .products-info h1 {
    font-size: 22px;
    font-weight: strong;
  }

  .products-list{
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }

  .product-card h3{
    font-size: 14px;
    margin-block: 7px;
  }

  .product-card p{
    font-size: 14px;
  }
}

/* product css file */

.product{
  width: 100%;
}
.back-home{
  position: absolute;
  top: 8px;
  padding: 5px 20px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  width: fit-content;
  cursor: pointer;
}
.back-home a{
  color: white;
  text-decoration: none;
}
.product-item{
  position: relative;
  max-width: 40.5rem;
  margin-inline: auto;
  margin-top: 11rem;
  margin-bottom: 5rem;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  padding-top: 45px;
  padding-bottom: 15px;
  padding-inline: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-item .item-img{
  width: 220px;
}
.item-img img{
  width: 100%;
  height: 280px;
  border-radius: 6px;
}
.product-item-info{
  width: 22rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-item-info div{
  line-height: 25px;
}

.product-item-info b{
  font-size: 18px;
}


.cart-btn{
  padding: 10px 20px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  width: fit-content;
  cursor: pointer;
}

@media (max-width:740px) {
  .product-item{
      margin-top: 7rem;
  }

  .item-img{
      width: 80%;
      margin: 0 auto;
  }

  .item-img img{
      height: auto;
  }
  .product-item-info{
      margin-top: 12px;
  }

  .product-item-info b{
      font-size: 16px;
  }

  .item-price b{
      font-size: 18px;
  }
}

/* Contact css file */
.contact {
  padding: 20px;
}

.contact-info {
  max-width: 400px;
  margin-inline: auto;
  margin-top: 9rem;
  border: 1px solid white;
  box-shadow: 2px 2px 5px white;
  padding: 20px;
  background: transparent;
  backdrop-filter: blur(12px);
  border-radius: 8px;
}

.contact-info h1 {
  margin-bottom: 20px;
  color: white;
}

.form-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-info label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: white;
  margin-bottom: 5px;
}

.form-info input, .form-info textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 12px;
  color: white;
  margin-top: 5px;
  background: transparent;
}

.form-info textarea {
  resize: vertical;
  min-height: 80px;
}

.send-btn {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}

.send-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 740px) {
  .contact-info h1 {
    font-size: 25px;
  }

  .send-btn{
    font-size: 12px;
  }

  .form-info input{
    height: 25px;
    font-size: 12px;
    font-weight: 500;
  }

  .form-info textarea{
    height: 70px;
    font-size: 12px;
  }

  .form-info textarea{
    min-height: 50px;
  }

  .contact-info{
    padding: 15px;
    margin-top: 7rem;
  }
}

/* Cart css file */
.cart {
  padding: 20px;
  display: flex;
}

.empty-cart{
  color: white;
  max-width: 90vw;
  font-size: 1.3rem;
  margin-inline: auto;
  padding-top: 20px;
  margin-top: 4rem;
}

.cart-info{
  max-width: 650px;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 10px;
  background: transparent;
  backdrop-filter: blur(10px);
  color: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid white;
}

.cart-info h1 {
  color: white;
  margin-bottom: 20px;
  font-size:xx-large;
}


.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(5px);
  padding: 10px 0;
  max-width: 600px;
  gap: 20px;
  border-bottom: 1px solid #ddd;
}
.cart-item-img{
  width: 80px;
  height: 80px;
}

.cart-item-img img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.item-details{
  display: flex;
  align-items: center;
  gap: 50px;
}
.total {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.remove-btn, .purchase-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.purchase-btn{
  background-color: rgb(59, 241, 59);
  margin-top: 10px;
  padding: 10px;
}

.remove-btn{
  background-color: rgb(249, 80, 80);
}

.remove-btn:hover {
  background-color: rgb(243, 59, 59);
  border: 1px solid white;
}
.purchase-btn:hover{
  background-color: greenyellow;
  border: 1px solid white;
}

@media (max-width: 740px) {
  .cart-item{
    gap: 0;
  }
  .cart-info{
    width: 100%;
    padding: 20px;
  }

  .cart-info h1{
    font-size: large;
  }

  .purchase-btn{
    padding: 5px;
    font-size: 12px;
    margin-top: 4px;
  }

  .remove-btn{
    font-size: 12px;
    height: 22px;
    padding: 5px;
  }

  .total h2{
    font-size: 15px;
  }
  .empty-cart{
    font-size: 14px;
    line-height: 25px;
  }

  .item-details{
    gap: 30px;
  }
  .cart-item{
    width: 100%;
  }

  .cart-item-img{
    width: 3.2rem;
    height: 3.2rem;
  }

  .item-details p{
    font-size: 0.8rem
  }
}

/* Account css file */

.account {
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-info{
  box-shadow: 2px 2px 8px white;
  border-radius: 8px;
  margin-top: 12rem;
  max-width: 450px;
  padding: 1.5rem;
  background-color: transparent;
  backdrop-filter: blur(10px);

}

.account-info h1 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.profile-info {
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: white;
}

.profile-info table tr td {
  padding: 10px;
}

.edit-button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #0056b3;
}

@media (max-width: 740px) {
.account-info{
  max-width: 21rem;
  margin-top: 9rem;
  padding: 1rem;
}

  .profile-info{
    font-size: 1.2rem;
  }

  .account-info h1{
    font-size: 1.5rem;
  }

  .edit-button{
    padding: 8px 15px;
    font-size: 0.8rem;
  }
}


/* Editprofile css file */

.edit-profile{
  display: flex;
  justify-content: center;
}

.edit-profile-info{
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  max-width: 32rem;
  padding: 1rem;
  background: transparent;
  backdrop-filter: blur(10px);
  border: none;
  box-shadow: 2px 2px 8px white; 
}

.edit-profile-info h1{
  color: white;
}

.edit-profile-form{
  display: flex;
  flex-direction: column;
}
.edit-profile-form label{
  font-size: 20px;
  color: white;
  margin-top: 10px;
}
.edit-profile-form input{
  width: 100%;
  height: 25px;
  margin-top: 10px;
  background: transparent;
  border: 1px solid white ;
  border-radius: 4px;
  color: white;
  padding: 4px;
}

.edit-buttons{
  display: flex;
  margin-top: 1.3rem;
  justify-content: space-around;
}

.save-button, .back-btn{
  padding: 4px 10px;
  font-size: 0.9rem;
  background-color: #007bff;
  color: white;
  width: fit-content;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button:hover, .back-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 740px) {
  .edit-profile h1{
      font-size: 1rem;
      margin-bottom: 8px;
  }
  .edit-profile-info{
    margin-top: 7rem;
      width: 300px;
      height: 280px;
  }
  .edit-profile-form label{
      font-size: 1rem;
      margin-top: 2px;
  }
  .edit-profile-info input{
      height: 20px;
      margin-bottom: 8px;
  }
  .save-button,.back{
      width: fit-content;
      font-size: 0.7rem;
  }
}

/* Footer css file */

.footer{
  background-color: rgb(23, 23, 23);
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

@media (max-width: 740px){
  .footer{
    height: 5vh;
    font-size: 0.8rem;
  }
}
